.trustedBy {
    background-color: #fafafa;
    height: 100px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 760px;
        gap: 20px;
        color: lightgrey;
        font-weight: 500;

        img {
            height: 50px;
            object-fit: contain;
        }
    }
}