.mygigs {
    display: flex;
    justify-content: center;

    .container {
        width: 1300px;
        padding: 50px 0px;

        .title {
            display: flex;
            justify-content: space-between;

            button {
                background-color: green;
                padding: 10px 25px;
                border-radius: 5px;
                border: none;
                color: white;
                font-weight: 600;
            }
        }

        table {
            width: 100%;

            tr {
                height: 50px;

                th {
                    text-align: left;
                }

                td {
                    .img {
                        width: 50px;
                        height: 25px;
                        object-fit: cover;
                    }

                    .delete {
                        width: 20px;
                        cursor: pointer;
                    }
                }
            }

            & tr:nth-child(even) {
                background-color: #1dbf730f;
            }
        }
    }
}